@model SuperMark.Data.Entities.TblProducto

@{
    ViewData["Title"] = "Details";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.NombreProducto</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Productos</a></li>
                    <li class="breadcrumb-item active">Detalle</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<hr />
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Detalle del producto</h3>
                </div>
                <div class="card-body ">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CodigoProducto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CodigoProducto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cantidad)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StockMinimo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StockMinimo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Costo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Costo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecioNeto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecioNeto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecioConsumidor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecioConsumidor)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecioDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecioDetalle)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdCategoriaNavigation.IdCategoria)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdMarcaNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdMarcaNavigation.IdMarca)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.IdProducto">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>